<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom Login</title>
</head>
<body>
<h2>Login Page</h2>

<form method="post" action="/login">
    <input type="hidden" name="_csrf" th:value="${token.token}">
    <label>Username:</label>
    <input type="text" name="username" /> <br><br>

    <label>Password:</label>
    <input type="password" name="password" /> <br><br>

    <button type="submit">Login</button>
</form>

<div id="message"></div>

<!-- Optional error message -->
    <div style="color:red">
        <p th:text="${param.error} ? 'Invalid username or password' : ''"></p>
    </div>

    <!-- Optional logout message -->
    <div style="color:green">
        <p th:text="${param.logout} ? 'You have been logged out' : ''"></p>
    </div>

</body>
</html>